<%- include('partials/header'); -%>

<header>
  <div class="upswing">
    <img src="upswinghealth.jpg" alt="upswing health">
  </div>
  <div class="headings">
    <h2>musculoskeletal</h2>
    <a href="/treatment" class="btn">Get Started</a>
  </div>
</header>


<%- include('partials/footer'); -%>