<%- include('partials/header'); -%>

<ul class="treatment ">
  <li class="treatments">
    <img src="/symptomchecker.png" alt="symptom checker">
    <h4>symptom checker</h4>
    <p>check the level of your pain</p>
  </li>
</ul>

<%- include('partials/footer'); -%>